<%= form_for(@bay) do |f| %>
  <% if @bay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bay.errors.count, "error") %> prohibited this bay from being saved:</h2>

      <ul>
      <% @bay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
