<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @bay.code %>
</p>

<p>
  <strong>Position:</strong>
  <%= @bay.position %>
</p>
<p>
  <strong>Products:</strong>
  <%= @bay.products.map(&:name).join(", ") %>
</p>

<%= link_to 'Edit', edit_bay_path(@bay) %> |
<%= link_to 'Back', bays_path %>
